title: CC的部落格
subtitle: CC康纳百川
description: CC的部落格，CC康纳百川的小窝，与你分享二三事
keywords: CC的部落格,CC康纳百川,ccknbc,blog
author: CC康纳百川
email: blog@ccknbc.cc
language: zh-CN
timezone: Asia/Shanghai

url: https://blog.ccknbc.cc/
permalink: posts/:translate_title/
permalink_defaults:
pretty_urls:
  trailing_index: false
  trailing_html: false

theme: butterfly
# theme: anzhiyu

source_dir: source
public_dir: public
tag_dir: tags
archive_dir: archives
category_dir: categories
code_dir: downloads/code
i18n_dir: :lang
skip_render:

# Writing
new_post_name: :title.md
default_layout: post
auto_spacing: true
titlecase: false
external_link:
  enable: true
  field: site
  exclude: ""
filename_case: 0
render_drafts: false
post_asset_folder: false
relative_link: false
future: true

highlight:
  enable: true
  auto_detect: false
  line_number: false
  tab_replace: ""
  wrap: true
  hljs: false

prismjs:
  enable: false
  preprocess: true
  line_number: true
  tab_replace: ""

# marked:
#   gfm: true
#   pedantic: false
#   breaks: true
#   smartLists: true
#   smartypants: true
#   quotes: '“”‘’'
#   modifyAnchors: 0
#   anchorAlias: true
#   autolink: true
#   mangle: true
#   sanitizeUrl: false
#   dompurify: false
#   headerIds: true
#   lazyload: true
#   prependRoot: true
#   postAsset: true
#   external_link:
#     enable: true
#     exclude: []
#     nofollow: true
#   disableNunjucks: false
#   descriptionLists: true

markdown:
  preset: "default" # 渲染器默认预设 # "commonmark": 使用严格 CommandMark 规定. # "": 默认配置, 类似于 GFM # "zero": 禁用所有预设.
  # 以下为 render 选项
  render:
    html: true # 是否解析 HTML 内容, 如果为 true 则表示解析, false 表示将 HTML 转意为文本.
    xhtmlOut: false # 将 HTML 内容渲染为 XHTML 的形式 (XHTML 语法非常严格, 比如原 HTML 中的 <br> 标签必须要使用 <br/> 这样的形式进行 "自闭和") 可能会出现兼容性问题.
    langPrefix: "language-" # 只适用 Hexo 默认的两个高亮插件禁用时 # 为围栏代码块中语法定义选项渲染后自动添加 class 名前缀, 如 ---html 渲染为 <class="language-html">
    breaks: false # true 则将所有换行渲染为 <br> 标签 # 这种行为不属于 CommandMark 和 GFM.
    linkify: true # true 则自动解析链接并添加为 <a> 标签, false 则将链接渲染为文本.
    typographer: true # 默认 true # 自动转义各种排版用字符, 如 ©
    quotes: '“”‘’' # 当 typographer 定义为 true 时的自动转换引号的行为, quotes: '“”‘’' 则表示将 "123" '123'转换为 “123” ‘123’
  # render 选项到此结束
  enable_rules:
  disable_rules:
  # 当 preset 定义时的渲染规则 # "zero" 表示禁用所有规则而能单独启用规则 # "default" 表示启用所有规则, 所以只能禁用特定规则. # "commandmark" 将严格遵循 CommandMark 因此不能额外定义规则的启闭.
  # 使用单条规则
  # disable_rules: 'link'
  # 使用多条规则
  # disable_rules:
  #    - 'link'
  #    - 'image'
  plugins: # 插件选项
    - markdown-it-abbr # https://github.com/markdown-it/markdown-it-abbr
    - markdown-it-cjk-breaks # https://github.com/markdown-it/markdown-it-cjk-breaks
    - markdown-it-container # https://github.com/markdown-it/markdown-it-container
    - markdown-it-deflist # https://github.com/markdown-it/markdown-it-deflist
    - markdown-it-emoji # https://github.com/markdown-it/markdown-it-emoji
    - markdown-it-footnote # https://github.com/markdown-it/markdown-it-footnote
    - markdown-it-ins # https://github.com/markdown-it/markdown-it-ins
    - markdown-it-mark # https://github.com/markdown-it/markdown-it-mark
    - markdown-it-sub # https://github.com/markdown-it/markdown-it-sub
    - markdown-it-sup # https://github.com/markdown-it/markdown-it-sup
    #以下为额外安装插件
    - markdown-it-task-lists # https://github.com/revin/markdown-it-task-lists
  anchors: # 锚点的配置
    level: 2 # 开始创建锚点的等级 # 如 "2" 则表示从 H2 开始创建一直到 H6(最后).
    collisionSuffix: "" # 如果遇到重复的锚点 ID 为其添加数字编号时在这个数字后添加的后缀.
    # 以下为标题锚点配置
    permalink: true # false # 如果为 true 则创建一个除标题外带有固定地址的的锚点标签.
    permalinkClass: "fa-solid fa-hashtag" # 定义固定锚点的 class 名.
    permalinkSide: "right" # 设定为 right 则会在标题后添加固定链接.
    permalinkSymbol: "" # 定义固定链接使用的符号
    # 标题固定锚点到此结束
    case: 0 # 转换锚点 ID 中的字母为大写或小写 # "0" 不转换, "1" 为小写, "2" 为大写.
    separator: "-" # 用于替换空格的符号. # 默认为 "-"
  images:
    lazyload: true
    prepend_root: true
    post_asset: true
  inline: true

stylus:
  compress: false
  sourcemaps:
    comment: true
    inline: true
    sourceRoot: ""
    basePath: .
  plugins: "nib"

index_generator:
  path: ""
  per_page: 10
  order_by: -date

archive_generator:
  enabled: true
  per_page: 0
  yearly: true
  monthly: false
  daily: false
  order_by: -date

category_generator:
  per_page: 0
  order_by: -date

tag_generator:
  per_page: 0
  order_by: -date

default_category:
category_map:
tag_map:

meta_generator: true

date_format: YYYY-MM-DD
time_format: HH:mm:ss
updated_option: "mtime"

per_page: 0
pagination_dir: page

include:
exclude:
ignore:

feed:
  enable: false
  type:
    - atom
    - rss2
  path:
    - atom.xml
    - rss.xml
  limit: 5
  hub:
  content: true
  content_limit: false
  content_limit_delim: " "
  order_by: -updated
  icon: https://cdn1.tianli0.top/gh/ccknbc-backup/cdn/logo/logo.png
  autodiscovery: true
  template:
    - ./source/_data/atom.xml
    - ./source/_data/rss.xml

sitemap:
  path:
    - sitemap.xml
    - sitemap.txt
  template:
  rel: true
  tags: false
  categories: false

translate_title:
  translate_way: false
  youdao_api_key: ""
  youdao_keyfrom: xxxx-blog
  is_need_proxy: false
  proxy_url: http://localhost:8080
  baidu_appid: ""
  baidu_appkey: ""
  rewrite: false

search:
  path: search.json
  field: all
  content: true

algolia:
  appId: "947RX7HP3E"
  applicationID: "947RX7HP3E"
  apiKey: "9114b3fa2a3307b2cc8eec7e3ae5a8ea"
  totalPages: "1"
  per_page: "100"
  chunkSize: 5000
  indexName: "ccknbc-blog"
  fields:
    - title
    - content:strip
    - path

nofollow:
  enable: true
  field: site
  exclude:
    - "ccknbc.cc"
    - "www.ccknbc.cc"

mmedia:
  audio:
    default:
      controls: true
  video:
    default:
      controls: true
  aplayer:
    js: https://cdn1.tianli0.top/npm/aplayer/dist/APlayer.min.js
    css: https://cdn1.tianli0.top/npm/aplayer/dist/APlayer.min.css
    default:
      contents:
        lrcType: 3
  meting:
    js: https://cdn1.tianli0.top/npm/meting/dist/Meting.min.js
    api: https://music.startly.cn/ # https://meting.ccknbc.cc/api （备用，支持 YouTube Spotify）
    default:
      theme: '#8fbc8f'
      list-folded: true
  dplayer:
    js: https://cdn1.tianli0.top/npm/dplayer/dist/DPlayer.min.js
    hls_js: https://cdn1.tianli0.top/npm/hls.js/dist/hls.min.js
    dash_js: https://cdn1.tianli0.top/npm/dashjs/dist/dash.all.min.js
    shaka_dash_js: https://cdn1.tianli0.top/npm/shaka-player/dist/shaka-player.compiled.js
    flv_js: https://cdn1.tianli0.top/npm/flv.js/dist/flv.min.js
    webtorrent_js: https://cdn1.tianli0.top/npm/webtorrent/webtorrent.min.js
    default:
      contents:
  artplayer:
    js: https://cdn1.tianli0.top/npm/artplayer/dist/artplayer.js
    hls_js: https://cdn1.tianli0.top/npm/hls.js/dist/hls.min.js
    dash_js: https://cdn1.tianli0.top/npm/dashjs/dist/dash.all.min.js
    shaka_dash_js: https://cdn1.tianli0.top/npm/shaka-player/dist/shaka-player.compiled.js
    flv_js: https://cdn1.tianli0.top/npm/flv.js/dist/flv.min.js
    webtorrent_js: https://cdn1.tianli0.top/npm/webtorrent/webtorrent.min.js
    default:
      style: width:344px;height:193.5px
      contents:
        theme: "#8FBC8F"
        lang: zh-cn
        volume: 1
        isLive: false
        muted: false
        autoplay: false
        pip: true
        autoSize: true
        autoMini: false
        screenshot: false
        setting: true
        loop: false
        flip: true
        rotate: true
        playbackRate: true
        aspectRatio: true
        fullscreen: true
        fullscreenWeb: true
        subtitleOffset: true
        miniProgressBar: true
        localVideo: true
        localSubtitle: true
        networkMonitor: true
        mutex: true
        light: true
        backdrop: true
        playsInline: true
        autoPlayback: false
        whitelist: ['*']
        lock: true
        fastForward: false
        autoOrientation: true
  bilibili:
    default:
      page: 1
      danmaku: true
      allowfullscreen: allowfullscreen
      sandbox: allow-top-navigation allow-same-origin allow-forms allow-scripts allow-popups
      width: 100%
      max_width: 850px
      margin: auto
  xigua:
    default:
      autoplay: false
      startTime: 0
      allowfullscreen: allowfullscreen
      sandbox: allow-top-navigation allow-same-origin allow-forms allow-scripts allow-popups
      width: 100%
      max_width: 850px
      margin: auto

# tag-plugins-plus
# see https://akilar.top/posts/615e2dec/
tag_plugins:
  enable: true # 开关
  priority: 5 #过滤器优先权
  issues: false #issues标签开关
  link:
    placeholder: https://cdn1.tianli0.top/gh/ccknbc-backup/cdn/logo/logo.png #link_card标签默认的图标图片
  CDN:
    anima: https://cdn1.tianli0.top/npm/hexo-butterfly-tag-plugins-plus/lib/assets/font-awesome-animation.min.css #动画标签anima的依赖
    # jquery: https://cdn1.tianli0.top/npm/jquery/dist/jquery.min.js #issues标签依赖
    # issues: https://cdn1.tianli0.top/npm/hexo-butterfly-tag-plugins-plus/lib/assets/issues.js #issues标签依赖
    iconfont: false #参看https://akilar.top/posts/d2ebecef/
    carousel: false #https://cdn1.tianli0.top/npm/hexo-butterfly-tag-plugins-plus/lib/assets/carousel-touch.js
    tag_plugins_css: https://cdn1.tianli0.top/npm/hexo-butterfly-tag-plugins-plus/lib/tag_plugins.css

wowjs:
  enable: false #控制动画开关。true是打开，false是关闭
  priority: 10 #过滤器优先级
  mobile: false #移动端是否启用，默认移动端禁用
  animateitem:
    - class: recent-post-item #必填项，需要添加动画的元素的class
      style: animate__zoomIn #必填项，需要添加的动画
      duration: 2s #选填项，动画持续时间，单位可以是ms也可以是s。例如3s，700ms。
      delay: 1s #选填项，动画开始的延迟时间，单位可以是ms也可以是s。例如3s，700ms。
      offset: 100 #选填项，开始动画的距离（相对浏览器底部）
      iteration: 2 #选填项，动画重复的次数
    - class: card-widget
      style: animate__zoomIn

readmore:
  # 是否启用
  enable: false
  # 已申请的博客 ID
  blogId: "44867-6625009790877-036"
  # 已申请的微信公众号名称
  name: "CC康纳百川"
  # 已申请的微信公众号回复关键词
  keyword: "blog"
  # 已申请的微信公众号二维码链接
  qrcode: "https://cdn1.tianli0.top/gh/ccknbc-backup/cdn/logo/wechat.svg"
  # 自定义的 JS 资源链接，可用于 CDN 加速
  libUrl: "https://qiniu.techgrow.cn/readmore/dist/readmore.js"
  # 自定义的 CSS 资源链接，可用于适配不同风格的博客
  cssUrl: "https://qiniu.techgrow.cn/readmore/dist/hexo.css"
  # 文章解锁后凭证的有效天数
  expires: 365
  # 定时校验凭证有效性的时间间隔（秒）
  interval: 60
  # 每篇文章随机添加微信公众号引流工具的概率，有效范围在 0.1 ~ 1 之间，1 则表示所有文章默认都自动添加引流工具
  random: 1

minify:
  enable: true
  html:
  css:
  js:
  svg:
  gzip:
    enable: false
  brotli:
    enable: false
  xml:
    enable: true
  json:
    enable: false

webpushr:
  enable: true

  # webpushrKey: "webpushrKey"
  # webpushrAuthToken: "webpushrAuthToken"
  # 出于安全考虑，建议将上述两个重要参数添加至系统全局环境变量，并删除或注释掉此处配置
  # 否则可在网页端向访问者或订阅用户发送推送 https://www.webpushr.com/api-playground
  # 例如GitHub Actions环境变量配置，参数名不变，密钥名自定义，可参考如下
  # env:
  #     webpushrKey: ${{ secrets.WEBPUSHR_KEY }}
  #     webpushrAuthToken: ${{ secrets.WEBPUSHR_AUTH_TOKEN }}
  # 如果您的仓库私有，则无需担心此问题

  trackingCode: "BB9Y-w9p3u0CKA7UP9nupB6I-_NqE2MuODmKJjyC4W2YflX06Ff_hEhrNJfonrut5l6gCa28gC83q2OII7Qv-oA"
  icon: "https://cdn1.tianli0.top/gh/ccknbc-backup/cdn/image/pwa/192.png" # 必须为192*192 png图片
  # auto_hide: "0" # 默认为 1，代表true，即自动隐藏
  # sort: "date" # 默认为updated，即只要最新文章更改了更新时间即推送新文章，改为date即文章第一次发布时间
  # delay: "30" # 延时推送，考虑到CDN缓存更新，默认定时为在 hexo d 10分钟后推送，单位为分钟（最短时间为5min）
  # expire: "15d" # 推送过期时长，默认值为7天，格式如下：'5m'代表5分钟,'5h'代表5小时, '5d'代表5天.
  # image: # 默认为文章封面，Front-matter 属性为'cover'(butterfly主题友好选项)，如果您没有定义默认封面或此属性，请在这里设置默认image
  action_buttons: # 如果你需要额外自定义按钮 可按照如下格式：
    - title: 阅读全文 # 当 title 未配置时 默认值为 “前往查看”
      # url:  # 当 url 未配置时 默认值为 最新文章链接
    - title: 订阅页面
      url: https://blog.ccknbc.cc/sub/
    # 但 action_buttons 为未定义时也默认保留了一个按钮，即前往查看，除非设置为 false
    # action_buttons: false # 当设为 false 则不显示额外的按钮

  # 以下配置为按订阅主题推送给不同订阅用户，请按照数组形式，一一对应，具体位置请看使用文档
  categories: [工作, 博客, 工具, 生活, 音乐, 学习]
  segment: ["484223", "484224", "484225", "484226", "484227", "484229"]
  endpoint: segment # 可选配置 all / segment / sid
  # 默认为 segment，即根据不同主题推送细分，同时配置上述选项
  # 官方文档参数见 https://docs.webpushr.com/introduction-to-rest-api
  # 例如 all，即推送至所有用户；针对测试，可只推送给单个用户即自己，同时设置 sid 选项
  # 您也可以将segment 设置为 all-users 对应的ID，同样也可以实现推送至所有用户
  # sid: "130391396" # 单个用户ID 可在控制台查看 https://app.webpushr.com/subscribers

  sw_self: true

  # 此外，在文章 Front-Matter 处
  # 可覆盖 auto_hide 和 expire 配置，针对需要特别提醒文章可以设置不自动隐藏及过期时间延长等操作
  # 以及可指定schedule参数（例如：schedule: 2022-10-01 00:00:00），定时推送
  # 当文章头设置 webpushr: false 时，可关闭本篇文章推送，此参数主要防止久远文章更新推送

swpp:
  enable: false
  sw:
    # 是否使用自定义的 sw，为 true 时不自动生成 sw.js，但是仍然会插入注册 sw 的代码
    # 注意：不支持自定义 sw.js 的路径及文件名，sw.js 必须放置在 source_dir 中
    custom: false
    # 注册 sw 发生错误时触发的 js 代码，如果包含多个指令需使用花括号（{}）包裹
    # 注意：SW 注册代码将直接内嵌在 HTML 首部，该代码执行时其它 JS 不一定完成了加载
    onerror: "{console.error('注册 sw 时发生错误，很可能是由于您的浏览器不支持 sw')}"
    # 注册 sw 成功后触发的 js 代码，如果包含多个指令需使用花括号（{}）包裹
    # 注意：SW 注册代码将直接内嵌在 HTML 首部，该代码执行时其它 JS 不一定完成了加载
    onsuccess: "location.reload()"
    # 缓存库名称，缺省为 kmarBlogCache
    # 发布网站后请勿修改该配置项，无特殊需求建议保持缺省
    cacheName: 'CCsBlogCache'
    # 逃生门，详情见：https://kmar.top/posts/73014407/#cdf686f0
    escape: 0
    # 是否启用 CDN 竞速，详情见：https://kmar.top/posts/73014407/#4acf3000
    # 该项与 spareUrl 冲突，若两项同时开启，则该项生效
    cdnRacing: false
    # 是否启用备用 URL，详情见：https://kmar.top/posts/73014407/#62889c40
    # 该项与 cdnRacing 冲突，若两项同时开启，则 cdnRacing 生效
    spareUrl: false
    # 是否启用调试，启用后会在 sw 中插入一些辅助调试的代码，不建议开启
    debug: false
  dom:
    # 是否使用自定义的 DOM 端 JS，为 true 时不会自动生成 sw-dom.js，且不会插入引入 JS 的代码
    # 当值为 true 时本分类下其余设置项均无效
    custom: false
    # 当更新成功（更新完毕自动刷新页面）后触发，包含多个指令不需要用花括号包裹
    onsuccess: "console.log('更新成功')"
  json:
    # 最大 HTML 数量，超过这个数量后会直接清除所有 HTML 缓存
    maxHtml: 15
    # update.json 的最大字符数量
    # 超过后会移除旧的版本号，直到满足要求，如果只有全部清空才能满足就会直接刷新所有缓存
    charLimit: 1024
    # 文件缓存匹配采取精确模式
    # 关闭时更新缓存时仅匹配文件名称，如 https://kmar.top/simple/a/index.html 仅匹配 /a/index.html
    # 开启后更新缓存时将会匹配完整名称，如 https://kmar.top/simple/a/index.html 将匹配 /simple/a/index.html
    # 两种方式各有优劣，开启后会增加 update.json 的空间占用，但会提升精确度
    # 如果网站内没有多级目录结构，就可以放心大胆的关闭了
    # key 值为文件拓展名，default 用于指代所有未列出的拓展名以及没有拓展名的文件
    precisionMode:
      default: false
    # 是否合并指定项目
    # 例如当 tags 为 true 时（假设标签目录为 https://kmar.top/tags/...）
    # 如果标签页存在更新，则直接匹配 https://kmar.top/tags/ 目录下的所有文件
    # 推荐将此项开启
    merge:
      tags: true
      archives: true
      categories: true
      index: true
      # 自定义
      custom:
        # 这里填写目录名称列表（不带两边的斜杠）
        # 如果按下面这样写，当 `//[domain]/bilibili/` 下的任意文件更新，都会合并为同一个更新项目
        - 'bilibili'
    # 忽略哪些文件，正则表达式，不写两边的斜杠，不区分大小写
    # 注：匹配的时候不附带域名，只有 pathname
    exclude:
      # 这里写正则表达式，格式如下：
      - sw\.js$
  # 外部文件更新监听
  # 开启后会捕获外部文件的更新，具体原理见：https://kmar.top/posts/73014407/#771b3e00
  external:
    enable: false
    # 自定义拉取网络文件时的超时时间，缺省 1500
    timeout: 1500
    # 见 https://kmar.top/posts/73014407/#771b3e00
    js:
      - head: '这里写 head 内容'
        tail: '这里写 tail 内容（必须有 tail）'
    # 某些外链只要 URL 不变其内容就一定不会变
    # 可以通过正则表达式排除这些外链的文件内容监控，加快构建速度
    # 下面是几个常用的 CDN 的匹配
    # 正则表达式不用写两边的斜杠，区分大小写
    skip:
      - ^(https?:\/\/|\/\/)(cdn|fastly)\.jsdelivr\.(net|ren)\/npm\/.*@\d+\.\d+\.\d+\/
      - ^(https?:\/\/|\/\/)cdn\d\.tianli0\.top\/.*@\d+\.\d+\.\d+\/
      - ^(https?:\/\/|\/\/)cdn\.staticfile\.org\/.*\/\d+\.\d+\.\d+\/
      - ^(https?:\/\/|\/\/)lf\d+-cdn-tos\.bytecdntp\.com\/.*\/\d+\.\d+\.\d+\/
      - ^(https?:\/\/|\/\/)npm\.elemecdn\.com\/.*@\d+\.\d+\.\d+\/
    # 在构建过程中替换部分链接，该替换结果不会影响文件内容
    # 该设置项是为了应对构建服务器在国外，但是网站内部分缓存资源无法在国外访问导致拉取时 timeout 的问题
    # 填写格式和替换规则见 https://kmar.top/posts/73014407/#9dde3600
    replace:
      - source:
          - 'rules0'
          - 'rules1'
        dist: 'url'
  # 对 Hexo 中的变量进行排序
  # 默认插件对 posts、tags、categories、pages 四个变量进行排序
  # 排序规则为优先按照字符串长度排序，若长度一致按照字典序排序
  sort:
    # 格式为 `name: value`
    # value 的可能值为：字符串、非负整数、false
    # 假定 Array<obj> 为要被排序的数据
    # 当 value 为字符串和非负整数时，插件会以 `obj[value]` 的格式读取关键字
    # 当 value 为 false 时，插件会直接以 `obj` 为关键字
    # 注意：关键字必须为含有 length 属性且支持 < 操作符的类型
    # 插件内置的 posts 规则如果用上面的格式写应该为：
    # posts: 'title'
    # 插件支持使用配置项覆盖插件内置规则
    # 下面是一个示例
    keywords: false