#algolia-search
  .search-dialog
    nav.search-nav
      button.search-close-button
        i.fas.fa-times

    .search-wrap
      #algolia-search-input
      hr
      #algolia-search-results
        #algolia-hits
        #algolia-pagination
        hr
        #algolia-stats
        #algolia-powered-by(title='由 Algolia 提供搜索服务')

  #search-mask
