#algolia-search
  .search-dialog
    center
      #algolia-search-title.search-dialog__title <a target='_blank' rel='noopener external nofollow noreferrer' href='https://www.algolia.com'><img src='https://cdn.jsdelivr.net/gh/ccknbc-backup/cdn/logo/algolia.svg' alt='Algolia'/></a>
      #algolia-input-panel
        #algolia-search-input 
        #algolia-stats
        hr 
    #algolia-search-results
      #algolia-hits <a target='_blank' rel='noopener external nofollow noreferrer' href='https://www.algolia.com/doc/api-reference/api-parameters/advancedSyntax#how-to-use'><b>搜索小贴士(点击查看详情)</b></a><br>以下可搭配使用效果更佳<br>空格可分割字词，按单字匹配<br>默认允许拼写错误及多词同义词替换<br><b><font color=#8fbc8f>" "</font></b> 双引号内容执行严格匹配，禁用拼写错误<br><b><font color=#8fbc8f>-</font></b> 开头可排除特定字词，双引号内 - 不会被排除<br>跳转后请配合 <b><font color=#8fbc8f>Ctrl</font></b> + <b><font color=#8fbc8f>F</font></b> 页内搜索定位至具体位置
      #algolia-pagination
    span.search-close-button
      i.fas.fa-times
  #search-mask