link(href="https://jsd.cdn.zzko.cn/npm/@docsearch/css/dist/style.css" rel="stylesheet")
script(defer src="https://jsd.cdn.zzko.cn/npm/@docsearch/js/dist/umd/index.js")
script(defer src="/js/search/docsearch.js")