.card-widget.card_covid_19
  .card-content
    .item-headline
    <iframe src="https://www.lovestu.com/api/project/cnmapyinqing/obj.php" height="480" frameborder="no" border="0" width="100%"> </iframe>