/* 阿里字体 */
/* @import "https://at.alicdn.com/t/font_3144543_hc4quxkseoh.css";

.cc {
    font-family: "cc" !important;
    font-size: 24.5px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    } */

/* 文章页H2-H6图标 显示H2~H6 */

@-webkit-keyframes ccc {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    to {
        -webkit-transform: rotate(-1turn);
        transform: rotate(-1turn)
    }
}
@keyframes ccc {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    to {
        -webkit-transform: rotate(-1turn);
        transform: rotate(-1turn)
    }
}
/* #article-container.post-content  h1::before {
    content:'H₁'
} */
#article-container.post-content  h2::before {
    content:'H₂'
}
#article-container.post-content  h3::before {
    content:'H₃'
}
#article-container.post-content  h4::before {
    content:'H₄'
}
#article-container.post-content  h5::before {
    content:'H₅'
}
#article-container.post-content  h6::before {
    content:'H₆'
}

#article-container .fa-solid.fa-hashtag {
    float: right
}