@import "https://at.alicdn.com/t/font_3144543_hc4quxkseoh.css";

.cc {
    font-family: "cc" !important;
    font-size: 24.5px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    }
