if theme.aside.card_qrcode.enable
    .card-widget#card-qrcode
        #tj-box
            #tj-box1
                #tj-left
                    <p>扫一扫</p>
                    <span>快速打开移动端➤</span>
                #tj-right
                    #tj-img-box
                        img(alt="扫一扫二维码 快速打开移动端" src=qrcode(full_url_for(path),{margin:4}))

            #tj-box2
                #tj-left
                    <p>扫一扫</p>
                    <span>请我喝杯牛奶➤</span>
                #tj-right
                    #tj-img-box
                        img(alt="扫一扫二维码 请我喝杯牛奶" src=qrcode("https://www.rocschool.com/tool/qr/qr/id/51.html",{margin:4}))