if theme.showbb.enable && is_current('/')
    #bbTimeList.bbTimeList.container(style="margin-top: 0")
        i.far.fa-comment-alt(onclick="location='/essay/'",title="短文",style="font-size: 1rem;margin-top: 0.20rem")
        #bbtalk.swiper-container
            #bber-talk.swiper-wrapper(onclick="location='/essay/'")
        i.fas.fa-angle-double-right.faa-passing.animated(onclick="location='/essay/'",title="查看全文",style="font-size: 1rem;margin-top: 0.15rem;")
        link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css')
        link(rel='stylesheet' href='https://cdn.jsdelivr.net/gh/ccknbc-backup/cdn/css/showbb.css')
        script(src='https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js',defer='')
        script(src='https://cdn.jsdelivr.net/gh/ccknbc-backup/cdn/js/showbb.min.js',defer='')