/* 阿里字体 */
/* @import "https://at.alicdn.com/t/font_3144543_hc4quxkseoh.css";

/* 文章页H2-H6图标 显示H2~H6 */

@-webkit-keyframes ccc {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    to {
        -webkit-transform: rotate(-1turn);
        transform: rotate(-1turn)
    }
}

@keyframes ccc {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    to {
        -webkit-transform: rotate(-1turn);
        transform: rotate(-1turn)
    }
}

/* #article-container.post-content  h1::before {
    content:'H₁'
} */
#article-container.post-content h2::before {
    content: 'H₂'
}

#article-container.post-content h3::before {
    content: 'H₃'
}

#article-container.post-content h4::before {
    content: 'H₄'
}

#article-container.post-content h5::before {
    content: 'H₅'
}

#article-container.post-content h6::before {
    content: 'H₆'
}

[data-theme=dark] .webpushr-bell-theme-dark prompticon3 {
    background: var(--btn-bg);
}

.webpushr-bell-theme-dark prompticon3 {
    z-index: auto;
    opacity: 0.8;
    background: var(--btn-bg);
}

[data-theme=dark] promptglowingcircle {
    border: #FFFFFFB3 1px solid;
}


/* DocSearch */

:root {
    --docsearch-primary-color: #8fbc8f !important;
    --docsearch-logo-color: #8fbc8f !important;
}

[data-theme=dark] {
    --docsearch-primary-color: #5468ff !important;
    --docsearch-logo-color: #5468ff !important;
}

.DocSearch-Logo .cls-1,
.DocSearch-Logo .cls-2 {
    fill: var(--docsearch-logo-color) !important;
}

/* 侧边栏二维码 */

@media (max-width:768px) {
    #card-qrcode {
        display: none;
    }
}

#card-qrcode {
    background: var(--card-bg)!important;
    padding: 15px 0;
    height: 118px;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

#card-qrcode #tj-box {
    width: 100%;
    height: 100%;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    transition: cubic-bezier(0, 0, 0, 1.29) 0.4s;
}

#card-qrcode #tj-box2 {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
}

#card-qrcode #tj-box1,
#card-qrcode #tj-box2 {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

#card-qrcode #tj-img-box {
    border-radius: 12px;
    margin-left: 10px;
    height: 85px;
}

#card-qrcode #tj-img-box img {
    height: 85px;
    border-radius: 12px;
    filter: brightness(0.95);
}

[data-theme=dark] #card-qrcode #tj-img-box img {
    filter: brightness(0.6);
}

#card-qrcode #tj-left {
    color: var(--toc-link-color);
    filter: brightness(0.95);
    height: 85px;
}

[data-theme=dark] #card-qrcode #tj-left {
    filter: brightness(0.6);
}

#card-qrcode #tj-left p {
    margin: 10px 0 0;
    font-size: 32px;
    line-height: normal;
    font-weight: 800;
}

#card-qrcode #tj-left span {
    font-size: 15px;
    font-weight: 800;
}

#card-qrcode:hover #tj-box {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}


/* 圆角 */

#card-info-btn, #rightside>div>button, #to_comment, .edit-gitlab-ide, .edit-gitlab, .edit-github, .edit-yuque {
    border-radius: 40px !important;
}

/* 无障碍 */
/* @media (max-width:768px) {
    .wza-Tool {
        display: none;
    }
} */

