/* @import "https://at.alicdn.com/t/font_3144543_hc4quxkseoh.css";

.cc {
    font-family: "cc" !important;
    font-size: 24.5px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    } */

/* 文章页H2-H6图标 显示H2~H6 */

@-webkit-keyframes ccc {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    to {
        -webkit-transform: rotate(-1turn);
        transform: rotate(-1turn)
    }
}
@keyframes ccc {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    to {
        -webkit-transform: rotate(-1turn);
        transform: rotate(-1turn)
    }
}
/* #content-inner.layout h1::before {
    margin-left: -1.55rem;
    margin-top: -0.23rem;
    content:'H₁'
} */
#content-inner.layout h2::before {
    margin-left: -1.55rem;
    margin-top: -0.12rem;
    content:'H₂'
}
#content-inner.layout h3::before {
    margin-left: -1.22rem;
    margin-top: -0.09rem;
    content:'H₃'
}
#content-inner.layout h4::before {
    margin-left: -1.05rem;
    margin-top: -0.09rem;
    content:'H₄'
}
#content-inner.layout h5::before {
    margin-left: -0.9rem;
    margin-top: 0.0rem;
    content:'H₅'
}
#content-inner.layout h6::before {
    margin-left: -0.9rem;
    margin-top: 0.0rem;
    content:'H₆'
}
#article-container .fa-solid.fa-hashtag {
    float: right;
}

#article-container .fa-solid.fa-hashtag :hover{
    color: #2fcc66 ;
}