if hexo-config('css_prefix')
  @import 'nib'

if hexo-config('pace.enable')
  @import 'https://cdn.jsdelivr.net/gh/CodeByZach/pace/themes/green/pace-theme-flash.css'
@import 'https://fonts.googleapis.com/css2?family=Quicksand:wght@500&family=Source+Code+Pro:wght@500&display=swap'
@import '_third-party/normalize.min.css'
// project
@import 'var'
@import '_global/*'
@import '_highlight/highlight'
@import '_page/*'
@import '_layout/*'
@import '_tags/*'
@import '_mode/*'

// search
if hexo-config('algolia_search.enable')
  @import '_search/index'
  @import '_search/algolia'

if hexo-config('local_search') && hexo-config('local_search.enable')
  @import '_search/index'
  @import '_search/local-search'
